/* COLOR SCHEME:
  #0e0e10 (black, background color)
  #26262c (dark grey, secondary background color)
  #9146FF (Twitch purple)
  #000000 (black ops)
  #F0F0FF (ice)
  #BFABFF (widow, light purple)
  #D2D2E6 (smoke)
*/

html {
	scroll-behavior: smooth;
}

body {
	background-color: #000000;
    font-family: 'Helvetica', 'Arial';
    font-weight: 300;
	/* font-family: 'transatlight', sans-serif; */
	margin: 0;
}

#homepage {
	border: 0;
	min-height: 100vh;
}

#home {
	/* border: 5px solid rgb(256,256,256,0.5); */
  background-color: #9146FF;
  border-radius: 25px;
	padding: 25px;
  font-weight: 700;
}

#welcome {
	font-size: 36px;
}

#cs1301 {
  font-weight: 700;
	color: #F0F0FF;
	font-size: 140px;
	margin: -15px 0px;
}

#livestreaming {
	text-transform: lowercase;
	font-size: 36px;
	color: #F0F0FF
}

#logo {
	width: 80%;
	max-width: 400px;
	height: auto;
    margin-bottom: 20px;
    margin-top: 20px;
}

#chevron {
	position: absolute;
	bottom: 0;
}

.succulent-png {
	height: 100px;
	width: auto;
	margin: 0px 15px;
}

.header {
	width: 65%;
	align-self: center;
}

#nav-box {
	padding: 15px 0px;
	position: fixed;
	top: 0;
	z-index: 2;
	width: 100%;
	background-color: #18181b
}

.nav-link {
	font-weight: bold;
	min-width: 150px;
	width: 15%;
	height: 30px;
	padding: 3px;
	margin: 5px;
	font-size: 17px;
	color: white;
	text-align: center;
	letter-spacing: 1px;
	line-height: 30px;
	border-radius: 5px;
	text-transform: uppercase;
	text-decoration: none;
}

.wrap-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 75%;
}

#nav-box .wrap-container {
	width: 85%;
}

.nav-link:hover {
	background-color: #706881;
  text-shadow: -2px 2px #9146FF;
  color: #F0F0FF;
  transition: .25s;
	cursor: pointer;
}

.nav-link:visited {
    color: #F0F0FF !important;
  }

.content {
	width: 30%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.section {
	display: flex;
	min-height: 70vh;
	flex-direction: column;
	justify-content: center;
	padding-bottom: 20px;
	top: 0;
	width: 100%;
	max-width: 100vw;
	border-top: 1px solid #fff
}

.small-icon {
	height: 25px;
	width: auto;
	margin-right: 10px;
}

#helpful-links-box {
	width: 80%;
	max-width: 700px;
	flex-wrap: wrap;
	align-self: center;
	margin-bottom: 25px;
	align-content: center;
}

.helpful-link {
	text-decoration: none;
	color: white;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	width: 275px;
	padding: 5px 15px;
	background-color: #9146FF;
  border-radius: 25px;
	margin: 10px 0px;
}

.helpful-link h3 {
	color: white;
	margin-left: 5px;
}

.helpful-link:hover h3 {
	color: #706881;
}

.helpful-link:hover {
	background-color: white;
	color: black;
}

.helpful-link .svg-hover {
	display: none;
}
.helpful-link:hover .svg-show {
	display: none;
}
.helpful-link:hover .svg-hover {
	display: inline;
}


.no-border-helpful-link .svg-hover {
	display: none;
}
.no-border-helpful-link:hover .svg-show {
	display: none;
}
.no-border-helpful-link:hover .svg-hover {
	display: inline;
}

.no-border-helpful-link {
	color: white;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	width: 275px;
	margin: 10px 0px;
	text-decoration: underline;
}

.no-border-helpful-link h3 {
	color: white;
	margin-left: 5px;
}
.no-border-helpful-link:hover h3 {
	color: #52A25E;
}

.no-border-helpful-link:hover {
	color: #52A25E;
}

#schedule-iframe {
	width: 90%;
	max-width: 985px;
	height: 80vw;
	max-height: 800px;
	margin-bottom: 30px;
}

#calendar-iframe {
	max-width: 90%;
	margin-bottom: 30px;
}

#faq p {
	font-size: 16px;
  font-weight: normal;
  margin: 0px 0px 0px 25px;
  color: #F0F0FF;
}

#faq h3 {
	color: #85C87C;
	margin-top: 25px;
	margin-bottom: 5px;
}

.important-note {
	width: 30%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.important-note p {
	font-weight: normal;
	font-size: 20px;
	letter-spacing: 2px;
	text-align: center;
	color: #F0F0FF;
	margin: 0px 0px 10px 0px;
}

.important-note strong {
	font-weight: bold;
	color: #9146FF;
}

.important-note a {
	font-weight: bold;
}

.important-note a:hover {
	text-decoration: underline;
}

#emails {
	margin-bottom: 35px;
}

.email {
	border-left: 3px solid rgb(256,256,256,0.5);
	padding-left: 10px;
	margin: 10px 25px;
}

.ta-box-left, .ta-box-right {
	margin: 0px 20px;
}

.ta-icon {
	height: 150px;
	text-shadow: 0 0 25px brown;
	z-index: 1;
	margin-top: -10px;
	align-self: flex-end;
	opacity: 1;
  transition: .5s ease;
}

.bio-text {
	justify-content: center;
	text-align: center;
}

.bio-text h3 {
	color: #9146FF;
	margin: 0;
}

.bio-text h4 {
	font-size: 14px;
	color: white;
	letter-spacing: normal;
	text-transform: none;
	max-width: 200px;
	margin-bottom: 35px;
}

.shelf-png {
	width: 700px;
	height: auto;
	margin-top: -30px;
}

.img-box {
	display: flex;
  cursor: default;
  position: relative;
  height: 100%;
}

.ta-img {
	transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
	height: 150px;
	width: auto;
	border-radius: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}


.img-box:hover .ta-icon{
  opacity: 0;
}

.img-box:hover .ta-img {
  opacity: 1;
}

/* Adapted from https://www.w3schools.com/howto/howto_js_collapse_sidepanel.asp */

/* The sidepanel menu */
.sidepanel {
  height: 100vh;
  width: 0;
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  background-color: #26262c;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.4s;
}

/* The sidepanel links */
.sidepanel a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #F0F0FF;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidepanel a:hover {
  color: #9146FF !important;
}

.sidepanel a:visited {
  color: #F0F0FF;
}

/* Position and style the close button (top right corner) */
.sidepanel .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Style the button that is used to open the sidepanel */
.openbtn {
  font-size: 30px;
  cursor: pointer;
  background-color: rgb(0,0,0,0);
  color: white;
  border: none;
  padding: 0;
}

.openbtn:hover {
  background-color: #444;
}

#hamburger-box {
	padding: 10px;
	position: fixed;
	height: fit-content;
	top: 0;
	z-index: 2;
	width: 100%;
	justify-content: space-between;
	background-color: #18181b;
}


@media only screen and (max-width: 845px) {
	#emails {
		width: 90%;
    }
    
    .content {
        width: 60%;
    }

    .important-note {
        width: 60%;
    }
}

@media only screen and (max-width: 800px) {
	#home {
		padding: 25px;
	}

	#welcome {
		font-size: 24px;
	}

	#cs1301 {
		font-size: 90px;
		margin: -20px 0px;
	}

	#livestreaming {
		font-size: 24px;
	}
}

@media only screen and (max-width: 720px) {
	.shelf-png {
		width: 90%;
	}

	.ta-box-left, .ta-box-right {
		max-width: 45%;
	}

	.ta-box-left {
		flex-direction: column-reverse !important;
		margin: 0px 5px;
	}

	.ta-box-right {
		flex-direction: column !important;
		margin: 0px 5px;
	}

	.ta-icon {
		align-self: center;
		margin-bottom: 12px !important;
	}

	.bio-text h4 {
		margin-bottom: 0;
	}

	.ta-wrapper {
		align-items: flex-end !important;
	}
}

@media only screen and (max-width: 665px) {
	#nav-box {
		display: none;
	}

	#hamburger-box {
		display: flex !important;
	}

	#helpful-links-box {
		flex-direction: column;
	}

	.succulent-png {
		height: 60px;
	}

	h1 {
		font-size: 36px !important;
	}

  #chevron {
    position: unset;
  }

	.content {
		width: 80%;
	}

	.helpful-link {
		width: 200px;
		text-align: center;
	}

	#emails h3 {
		font-size: 12px;
	}
}

@media only screen and (max-width: 575px) {
    #calendar-iframe {
        max-height: 50vh;
    }

	#helpful-links-box .flex-row {
		flex-direction: column;
	}

    #emails {
        flex-direction: column;
        text-align: center;
    }

    #emails .email {
        border: 0;
        padding: 0;
    }

    #cs1301 {
	    font-size: 50px;
        margin: 5px 0px;
    }
    
    #livestreaming {
      font-size: 15px;
    }
    
}

.guest-header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  min-width: fit-content;
}
.guest-link {
  color: #2BB673;
  text-decoration: underline;
  margin-left: 10px;
}

.guest-bio {
  margin-top: 0;
  font-size: 16px;
}

.bio-button {
  cursor: pointer;
  vertical-align: middle;
}

.add-indent {
  margin-left: 19px;
}

.bio-button h4 {
  margin: 0;
  margin-right: 10px;
  color: #2BB673;
  align-self: center;
}

.guest-column {
  align-items: flex-start;
  justify-content: flex-start;
  margin: 0px 10px;
  width: 50%;
}

#guest-box {
  width: 100%;
}

@media only screen and (max-width: 800px) {
  #guest-box {
    flex-direction: column;
    justify-content: center;
    width: auto;
  }
  
  .guest-column {
    width: 100%;
  }
}

h1 {
    font-weight: 700;
    font-size: 45px;
	color: #F0F0FF;
	text-shadow: -2px 2px #9146FF;
	margin-top: 40px;
	margin-bottom: 40px;
	letter-spacing: 3px;
	text-transform: uppercase;
	text-align: center;
}

a {
	text-decoration: none;
}

h4 a:hover {
  color: #BFABFF !important;
}

a:visited, a:active {
  color: #9146FF;
}

h2 {
    font-weight: 700;
	font-size: 28px;
	margin: 5px 0px;
	text-align: center;
	letter-spacing: 3px;
	color: #9146FF;
}

h3 {
    font-weight: 700;
	font-size: 16px;
	text-transform: uppercase;
	color: #706881;
	letter-spacing: 2px;
	font-weight: bold;
	margin: 5px 0px;
}

h4 {
    font-weight: 400;
	font-size: 16px;
	text-transform: lowercase;
	color: #F0F0FF;
	font-weight: normal;
	margin: 5px 0px;
	letter-spacing: 1px;
}

p {
	font-weight: 200;
	font-size: 20px;
	color: #F0F0FF;
}

.flex-row {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.flex-column {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.flex-space-between {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.purple-link {
	text-decoration: none;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	width: 250px;
	padding: 5px 15px;
	background-color: #9146FF;
  border-radius: 25px;
	margin: 10px 0px;
}

.purple-link h3 {
	color: #F0F0FF;
}
.purple-link:hover {
	background-color: #BFABFF;
}
.purple-link:hover h3 {
	color: white;
}
.purple-link:hover .svg-show {
	display: none;
}
.purple-link .svg-hover {
	display: none;
}
.purple-link:hover .svg-hover {
	display: inline;
}

.twitch-link:hover {
  color: #9146FF
}

.twitch-link {
  color: #F0F0FF;
}

.twitch-link:visited {
  color: #F0F0FF;
}

.twitch-link:hover {
  color: #BFABFF;
}
